body	{
	font-family: roboto, arial;	
}

table	{
	width:100%;
}

ul	{
	font-size:12px;
}

.story-header	{
	table-layout: fixed;
	text-align: left;
	font-size: 12px;
}

.status-header	{

}

.prio-header	{
}

.story	{
	padding:1%;
	padding-bottom: 5%;
	margin-bottom: 2%;
	page-break-inside:avoid;
	border:2px dashed;
}

.name	{
	font-weight:bold;
	font-size:20px;
	margin-bottom:8px;
}

.standard	{
	padding: 1%;
}

.expedite	{
	padding:1%;
	background-color:#EF9600;
}

.intangible	{
	padding: 1%;
	background-color:#6CC24A;
}

.fixed-date	{
	padding:1%;
	background-color:#FDD757;
}

.prio-5	{
	color:#E1523D;
	font-weight:bold;
}

.prio-4	{
	font-weight:bold;
}