body	{
	font-family: roboto, arial;
	
}

table	{
	width:100%;
}

ul	{
	font-size:12px;
}

.story-header	{
	table-layout:fixed;
	text-align: left;
	font-size:12px;
}

.subprojectpath	{
}

.prio-header	{
}

.status-header	{
}

.databaseid	{
}

.story	{
	padding-bottom: 5%;
	margin-bottom: 2%;
	page-break-inside: avoid;
	border:1px solid;
}

.name	{
	font-weight:bold;
	font-size:20px;
	margin-bottom:8px;
}

.prio-5	{
        color:#E1523D;
        font-weight:bold;
}

.prio-4	{
	font-weight:bold;

}